.container {
    border:1px solid transparent;
}
.myPosts{
    padding-top: 1em;
}

.mobile-top{
    margin-top: 1em;
}

.myAds-mobile-header{
    padding: 0 8px;
    display: flex;
    height: 68px;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--headerBg);
}

.myAds-mobile-header p{
    padding-left: 10px;
    padding-top: 15px;
    color: var(--blackText);
    font-size: 26px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
}
.myAds-mobile-header svg{
    fill: var(--primaryBaseText);
}

.mobile-top .option-tab{
    width: 100%;
    padding: 0 0.5em 0;
    display: flex;
    max-width: 250px;
    justify-content: space-around;
    text-align: center;
}

.mobile-top{
    border-bottom:1px solid var(--lightGrey);
}

@media all and (max-width: 768px) {
    .mobile-top .option-tab{
        max-width: 100%;
    }
}

.myPosts-content{
    padding:1em;
}

.myPosts-content .row .col-12{
    display: flex;
    justify-content: center;
    /* width: auto; */
    align-items: center;
}

.myPosts-content .row img{
    aspect-ratio: 4/5;
    object-fit: contain;
    mix-blend-mode: multiply;
    width: 250px;
    margin:0 auto;
}

.myPosts-content .row .col-12 p{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.myPosts-content .row .btn {
    background-color: var(--primaryBaseText);
    color :white;
    display: flex;
    margin: 0 auto;
}

.myPosts-content .cards{
    display: grid;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: space-between;
    margin: 0 auto;
    gap: 10px;
}


/* .ads-content .cards svg{
    background: var(--primaryLight5);
    border-radius: 50%;
} */

@media (min-width: 768px) {
    .myPosts{
        padding-top: 4em !important;
    }
    .mobile-top{
        width: 20em;
    }

    .myPosts .grid {
        grid-template-columns: repeat(4, 1fr);

    }
}

.singleGrid {
    grid-template-columns: repeat(1, 1fr)!important;
}

.myPosts svg{
    fill: red;
}