.centerDiv {
  padding-top: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

@media only screen and (min-width:992px ) {
   .centerDiv{
    padding-top: 6em;
   }
}

.input {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  outline-color: transparent;
}

.uploadBtn {
  margin-top: 30px;
  width: 100%;
  height: 48px;
  /* border-color: transparent; */
  background-color: #002f34;
  color: whitesmoke;
  font-weight: 900;
}

.uploadBtn:hover {
  background-color: white;
  color: #002f34;
  border: 2px solid #002f34;
}

.container {
  border: 1px solid var(--blackDividers);
  border-radius: 5px;
}


.centerDiv table tr :has(span, i) {
  color: var(--blackSecondaryText);
  fill: var(--blackSecondaryText);
}

.centerDiv table tr:hover {
  background-color: var(--blackDividers);
  cursor: pointer;
  color: var(--blackText);
}

.centerDiv table tr:hover span {
  color: var(--blackText);
}

table tr td span {
  font-size: 1.2rem;
}

.centerDiv table tr:hover i {
  fill: var(--blackText);
}

.addProduct i {
  fill: var(--blackText);
}

.addProduct h4 , .addProduct h5 , .addProduct label {
  font-weight: bold;
}

.addProduct .form input{
  padding: .50rem;
  height: 3rem;
  border-radius: 5px;
  border:1px solid var(--blackText);
}

.addProduct .form input:focus, .form textarea:focus{
  outline: none;
  border:2px solid var(--brandAccentDark);
  box-shadow: none;
}

.addProduct .form select {
  height: 3rem;
  border-radius: 5px;
  border:1px solid var(--blackText);
  color:var(--primaryBase);
}

.addProduct .form select:focus {
  border:2px solid var(--brandAccentDark);

}

.form select option{
  color : var(--primaryBase)
}

.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.form input[type=submit] {
  background-color: var(--brandPrimary) !important;
}

.form input[type=submit]:focus{
  outline: none;
}

.addProduct {
  border: 1px solid var(--black20);
}


.category-contents{
  border: 1px solid var(--black20) !important;
}