.bannerParentDiv {
  padding-top: 4em;
}
/* .bannerParentDiv .bannerChildDiv {
} */

.bannerParentDiv .bannerChildDiv .menuBar {
  padding: 1em 1em 0 1em;
  display: flex;
  flex-direction: row;
}

.bannerParentDiv .bannerChildDiv .menuBar .categoryMenu {
  padding: 10px;
}

.bannerParentDiv .bannerChildDiv .menuBar .categoryMenu span {
  margin-right: 16px;
  font-weight: bolder;
  
}

.bannerParentDiv .bannerChildDiv .menuBar .otherQuickOptions {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bannerParentDiv .bannerChildDiv .menuBar .otherQuickOptions span {
  padding: 10px;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bannerChildDiv .banner {
  position: relative;
  width: 100%;
}
.bannerChildDiv .banner img{
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .otherQuickOptions {
    display: none;
  }
  .bannerChildDiv .banner {
    position: relative;
  }
}

.bannerParentDiv .mobileBanner{
  display: flex;
  flex-direction: column;
  overflow-x:scroll;
}

.mobileBanner .mobileBannerHeading{
  font-weight: 400;
}
.mobileBanner .mobileBannerItems{
  width: fit-content;
  display: flex;
  flex-direction: row !important;
}

.mobileBannerItems .itemBox{
  width: auto;
  /* height: 5em; */
  display: flex;
  flex-direction:column;
  margin-right: 1em;
  text-align: center;
}
.itemBox p{
  display: -webkit-box;
  -webkit-line-clamp: 1; /* lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3em; 
  line-height: 1.5em; 
}
.itemBox img {
  width: 3em;
  aspect-ratio:auto ;
}