.bannerParentDiv {
  padding-top: 4em;
}
.bannerParentDiv .bannerChildDiv {
}
.bannerParentDiv .bannerChildDiv .menuBar {
  display: flex;
  flex-direction: row;
}

.bannerParentDiv .bannerChildDiv .menuBar .categoryMenu {
  padding: 10px;
}

.bannerParentDiv .bannerChildDiv .menuBar .categoryMenu span {
  margin-right: 16px;
  font-weight: bolder;
  
}

.bannerParentDiv .bannerChildDiv .menuBar .otherQuickOptions {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bannerParentDiv .bannerChildDiv .menuBar .otherQuickOptions span {
  padding: 10px;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bannerChildDiv .banner {
  position: relative;
  width: 100%;
}
.bannerChildDiv .banner img{
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .otherQuickOptions {
    display: none;
  }
  .bannerChildDiv .banner {
    position: relative;
  }
}
